[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
folium = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
lxml = "*"
fuzzywuzzy = "*"
l = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.13"
