<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map of U.S. National Parks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        #map > div {
            border: 2px solid black;
        }
        body {
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div class="ui container" style="padding-top: 20px;">
        <h1 class="ui center aligned header" style="font-weight: 300; font-size: 2.5em;">Map of U.S. National Parks</h1>
        <div id="map">
            {{ map|safe }}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>
